# /etc/systemd/system/xcod.service

[Unit]
Description=xcod Node
After=network.target

[Service]
Type=simple
User=xco
WorkingDirectory=/home/xco
ExecStart=/home/xco/go/bin/xcod start
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
